<!-- ID -->
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusid">ID</label>
    <div class="col-sm-2">
      <input readonly class="form-control" name="cusid" value="<%= model.cusid %>"/>
      <td>(Required)</td>
    </div>
  </div>
<!-- FIRST NAME  -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusfname">First Name</label>
    <div class="col-sm-4">
      <input readonly class="form-control" name="cusfname" value="<%= model.cusfname %>"/>
      <td>(Required)</td>
    </div>
  </div>
<!-- LAST NAME   -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cuslname">Last Name</label>
    <div class="col-sm-4">
      <input readonly class="form-control" name="cuslname" value="<%= model.cuslname %>"/>
      <td>(Required)</td>
    </div>
  </div>
<!-- STATE -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusstate">State</label>
    <div class="col-sm-2">
      <input readonly class="form-control" name="cusstate" value="<%= model.cusstate %>" />
    </div>
  </div>
<!-- SALES YTD -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesytd">Sale YTD</label>
    <div class="col-sm-4">
      <input readonly class="form-control" name="cussalesytd" value="<%= model.cussalesytd %>"/>
    </div>
  </div>
<!-- PREVIOUS YEARS SALES -->
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesprev">Previous Years Sales</label>
    <div class="col-sm-4">
      <input readonly class="form-control" name="cussalesprev" value="<%= model.cussalesprev %>"/>
    </div>
  </div>